/* Base Application Styles */
body {
  color: #fff;
  background: #222;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}
#app {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.index > div {
  flex: 1;
}
#control-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#control-panel > div {
  margin-bottom: 20px;
}
input[type=submit] {
  cursor: pointer !important;
}
#output {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#output > div {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#output > div > textarea {
  flex: 1;
}